<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SEARCH ENGINE</title>

    <link rel="stylesheet" href="./styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <h1>SEARCH ENGINE</h1>
    <form>
      <!-- <input type="text" name="question" id="question" />
      <input type="submit" value="Question asked" /> -->
      <input type="text" placeholder="Search.." name="question" id="question" />
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div class="loading"></div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <!-- <a href=""></a> -->
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <!-- <a href=""></a> -->
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <!-- <a href=""></a> -->
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <!-- <a href=""></a> -->
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <!-- <a href=""></a> -->
      </div>
      <div class="body"></div>
    </div>
  </body>
</html>

<script>
  const form = document.querySelector("form");
  const questionElement = form.question;

  const questions = document.querySelectorAll(".question");
  const titles = document.querySelectorAll(".title");
  const urls = document.querySelectorAll(".url");
  const quesBody = document.querySelectorAll(".body");
  const loading = document.querySelector(".loading");

  //   console.log(questions);
  //   console.log(titles);
  //   console.log(urls);
  //   console.log(quesBody);

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const question = questionElement.value;

    for (let i = 0; i < 5; i++) {
      titles[i].innerHTML = ``;
      urls[i].innerHTML = ``;
      quesBody[i].innerHTML = ``;
    }

    loading.innerHTML = `Loading...`;

    // Fetch

    try {
      const res = await fetch(`/search?question=${question}`, {
        method: "GET",
      });
      console.log(res);
      const data = await res.json();

      loading.innerHTML = ``;

      for (let i = 0; i < 5; i++) {
        titles[i].innerHTML = `<p> <h2>${i + 1}. <a href=${data[i][1]}>${
          data[i][0]
        }</h2></p></a>`;
        // urls[i].innerHTML = `<a href=${data[i][1]}></a>`;
        // console.log(urls[i].innerHTML);
        quesBody[
          i
        ].innerHTML = `<p><p><h4> &nbsp; &nbsp; &nbsp; ${data[i][2]}.....</h4></p></p>`;
      }
    } catch (error) {
      alert(error);
    }
  });
</script>
